.sty{
    color:aqua;
    font-size: x-large;
    text-align: center;
}
#div1{
    color:cornflowerblue;
    font-size: x-large;
    margin-top: 2px;
    padding-right: 4px;
}
.commit {
    border: 3px solid rgb(13, 91, 141);
    background-color: aliceblue;
    margin: 10px;
    padding: 14px;
    border-radius: 14px;

}